body {

    font-family: 'Indie Flower', cursive; background-image: url("../images/waves.jpg");

    background-repeat: no-repeat;

    background-attachment: fixed;

 }

 p {

     font-size: 20px;

 }

 .spiegazione {

     background: fixed; width: 300px; 

    -webkit-border-radius: 10px;

    border-radius: 10px;

    position: absolute;

    left: 180px;

 }

 .barraLaterale {

  height: 100%;

  width: 160px;

  position: fixed;

  z-index: 1;

  top: 0;

  left: 0;

  background-color: #111;

  overflow-x: hidden;

  padding-top: 20px;

}

#sidethings {

    color: rgb(170, 170, 170);

    font-family: 'Open Sans', sans-serif;

    font-size: medium;

    display: block;

    margin-left: 30%;

    margin-bottom: 20px;
}

 p.paragrafo1 {

    opacity: 1.0;
  


 }

 p:hover {

    color: white;
    transition: color .5s;

 }

 h1 {

    position: absolute;
    
    left: 50%;
    
}

