body {
    font-family: 'Indie Flower', cursive; background-image: url("waves.jpg"); background-repeat: no-repeat; background-attachment: fixed;
 }

 p {
     font-size: 20px;
 }

 .spiegazione {
     background: #046e00; width: 300px; -webkit-border-radius: 10px; border-radius: 10px;
 }

 p.paragrafo1 {
     opacity: 1.0;
 }

 p:hover {
     color: white; transition: color .5s;
 }

 
