body {
    font-family: 'Indie Flower', cursive; background-image: -webkit-linear-gradient(135deg, white, aqua); background-repeat: no-repeat; background-attachment: fixed;
 }
 
 p {
     font-size: 20px;
 }

 .spiegazione {
     background: #1f3dff; width: 300px; -webkit-border-radius: 10px; border-radius: 10px;
 }

 p.paragrafo1 {
     opacity: 1.0;
 }

 p:hover {
     color: red; transition: color .5s;
 }